<hr>

<div class="container"  >
    <div class="row col-md-12">
        <div [routerLink]="[i]" class="card mr-1 mb-1  " style="width: 250px;height:350px;"
             *ngFor="let yazar of yazarlar;let i=index">
            <img class="card-img-top" src="../assets/logos/resim.png"
            style="width: 220px;margin-left:12px;margin-top:10px;" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">{{yazar.yazarAdi}}</h5>
            </div>
        </div>
    </div>
</div>