img{
    height: 70px;
    margin-top: 10px;
    margin-left: 40px;
    
 }

 .ortala{
     margin-left: 540px;
 }
 
 .bg{
     background-color:#20CEAF;
 }

 .bg2{
     background-color:#6DB59E;
 }

