<div class="container">
  <div class="col-md-12">
    <div class="ml-5 mt-1">

      <div class="input-group mb-5">
        <input type="search" [(ngModel)]="filtered" class="form-control" placeholder="{{ara}}"
          aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text">Filtre</span>
          <button (click)="filtreleKitaplar()" class="btn btn btn-outline-primary">Kitap</button>
          <button (click)="filtreleYazarlar()" class="btn btn btn-outline-primary">Yazar</button>
          <button (click)="filtreleYayinlar()" class="btn btn btn-outline-primary">Yayınevi</button>
        </div>
      </div>


      <!-- <input type="search" [(ngModel)]="filtered" class="form-control mt-3 ">
            <div class="btn-group mb-5">
                <button (click)="filtreleKitaplar()"  class="btn btn-sm btn-primary">Kitap</button>
                <button (click)="filtreleYazarlar()"  class="btn btn-sm btn-primary">Yazar</button>
                <button (click)="filtreleYayinlar()"  class="btn btn-sm btn-primary">Yayın</button>
            </div> -->



      <!-- <select name="filtre" id="filtre">
              <option value="kitapAdi" (click)="filtreleKitaplar()" >Kitap Adı</option>
              <option value="yazarAdi" (click)="filtreleYazarlar()" >Yazar Adı</option>
              <option value="yayinAdi"  (click)="filtreleYayinlar()"  >Yayın Adı</option>
            </select> -->

      <div *ngIf="filtreKitap">
        <h4 class="text-center ">Kitaplar</h4>
        
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>ISBN No</th>
              <th>Kitap Adı</th>
              <th>Yazar Adı</th>
              <th>Yayınevi Adı</th>
              <th></th>
              <th>İşlemler</th>
            </tr>
          </thead>
          <tbody *ngFor="let kitap of kitaplar | filtre:filtered:'kitapAdi'"  >
            <tr  (click)=getKitap(kitap); >
              <td >
                <img src="../assets/logos/book-icon.png" alt="ikon" style="max-height:40px;">
              </td>
              <td>{{kitap.isbnNo}}</td>
              <td>{{kitap.kitapAdi}} {{i}} </td>
              <td>{{kitap.yazarAdi}}</td>
              <td>{{kitap.yayinEviAdi}}</td>
              <td><img class="mr-4" src="../assets/logos/resim.png" alt="home-resim" style="max-height:50px;" ></td>
              <td class="btn-group">
                  <button (click)=getKitap(kitap); class="btn btn-outline-primary">İncele</button>
                <button  (click)=updateKitap(kitap) class=" btn btn-outline-success">Düzenle</button>
                <button (click)="deleteKitap(kitap)" class="btn btn-outline-danger">Sil</button></td>       
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="filtreYazar">
        <h4 class="text-center ">Yazarlar</h4>
        <hr>      
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Yazar Adı</th>
              <th>Eserler</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let yazar of yazarlar | filtre:filtered:'yazarAdi' ">
            <tr (click)=getYazar(yazar) >
              <td>
                <img src="../assets/logos/book-icon.png" alt="" style="max-height:40px;">
              </td>
              <td>{{yazar.yazarAdi}}</td>
              <td>{{yazar.kitapAdi}}</td>
             
            </tr>
          </tbody>
        </table>
      </div>


      <div *ngIf="filtreYayin">
        <h4 class="text-center ">Yayınevleri</h4>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Yayın Adı</th>
              <th>Eserler</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let yayin of yayinEvleri | filtre:filtered:'yayinEviAdi' ">
            <tr (click)=getYayin(yayin);>
              <td>
                <img src="../assets/logos/book-icon.png" alt="" style="max-height:40px;">
              </td>
              <td>{{yayin.yayinEviAdi}}</td>
              <td>{{yayin.kitapAdi}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>